@import url(https://fonts.google.com/specimen/Ubuntu);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}
body {
    font-size: 100%;

}

.section-flex {
    display: flex;
    justify-content: space-between;
    
    margin: 10%;

}


.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: #2E948A;
    width: 100%;

}

.cabeçalho-nav {
    display: flex;
    gap: 32px;
}

.texto-nav {
    font-family: 'Ubuntu';
    color: #FDFDFD;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}



.section-post{
    display: flex;
   flex-direction: column;
}



.section-post{
    display: flex;
}



.sectio-titulo-flex{
    display: flex;
    justify-content: center;

}


.section-titulo{

    gap: 10%;
    margin-top: 10px;
    padding: 30px;
    }


.section-titulo-titulo p{
    display: flex;
    justify-content: center;
  
}
.section-post h1{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 57px;
display: flex;
align-items: center;

color: #FF4081;
}

.section-post p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #9D9D9D;
    
}

.section-titulo-imagem{
    display: flex;
    justify-content:center;
    
}
.section-titulo-imagem img{
    width: 70%;
    height: 50%;
   
}


.section-post-subtitulo{
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 10%;
   

}




.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
    background: #adaaaa;


}

.section-2 img {
    width: 200px;
    height: 200px;


}

.section2-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.div-dindin-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text-img-dindin {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #FF4081;
}

.texto-section2 {
    width: 200px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.div-section2 {
    display: flex;
    justify-content: center;
}

.button-conferir {

    background: #FF4081;
    border-radius: 62px;
    border: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
    padding: 5px;
}







.cabeçalho-fooder {
    display: flex;
    background: #419488;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    

}

.button-fooder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

text-align: center;

color: #FFFFFF;
background: #419488;
padding: 8px;

margin:10px;

}



.lista-footer{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
display: flex;
flex-direction: column;
Font-Style:none;


}

.lista-footer a{
    font-style: none;
    color: #FFFFFF;
}


@media (max-width: 868px) {


    .section-flex {
        flex-direction: column;

    }

    .imagem img{
        width: 300px;
    }

    .img-videos {
        width: 300px;
    }

    .section-videos-flex {
        flex-direction: column;
        
    }

    .cabeçalho-nav {
        flex-direction: column;
        

    }

   
    
}
